.branding {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('./icon.png');
  background-repeat: no-repeat;
  background-position: 0.75rem 50%;
  background-size: 2.5rem 2.5rem;
  padding: 0.75rem;
  text-indent: 3rem;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  user-select: none;
  letter-spacing: -0.5px;
}

.branding h1 {
  line-height: 2.5rem;
  padding: 0;
  margin: 0;
  font-size: 1.75rem;
  line-height: 1.1;
}

.branding a {
  font-size: 0.9rem;
  color: #ddd;
  text-decoration: none;
  padding: 0 0.15rem;
}

.branding a:first-child {
  padding-left: 0;
}

.branding a.selected {
  color: #fff;
  font-weight: bold;
}
.branding a:hover {
  text-decoration: underline;
}

.branding.wsp {
  background-image: url('./wsp.svg');
  background-size: auto 24px;
  text-indent: 3.875rem;
}
