.nav-header {
  padding: 1.5rem var(--sidebar-padding) 1.5rem;
  background: #222;
  border-bottom: var(--border);
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  height: 110px;
  box-sizing: border-box;
}

.nav-header-flex {
  display: flex;
}

.nav-header .title {
  flex: 1;
  overflow: hidden;
  padding-right: 1rem;
}

.nav-header h2 {
  margin: 0.15rem 0 0.25rem;
  font-size: 2rem;
  line-height: 2.4rem;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-header a {
  color: #ddd;
  text-decoration: none;
}
.nav-header a:hover {
  color: #fff;
  text-decoration: underline;
}

.nav-header p {
  font-size: 0.95rem;
  margin: 0;
}

.nav-header .controls {
  text-align: right;
}

.nav-header button {
  border: 0;
  background: transparent;
  color: #ddd;
  font-family: inherit;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.nav-header button {
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 0.55rem;
  background: #111;
  border-radius: 50%;
  transition: 200ms ease all;
}

.map-view .nav-header button.btn-expand {
  transform: rotate(-180deg);
}

.nav-header button:hover {
  background: #000;
}

.nav-header button:active {
  background: #333;
}

.nav-header button svg,
.nav-header button img {
  vertical-align: top;
  width: 24px;
  height: 24px;
}

.nav-header .controls a {
  display: inline-block;
  font-size: 0.9rem;
  padding: 0 0.25rem;
}

.nav-header a.selected {
  color: #fff;
  font-weight: bold;
}

.nav-header button.btn-expand {
  display: none;
}

@media (max-width: 1020px) {
  .nav-header button.btn-expand {
    transform: translate(36px, 0);
    display: inline-block;
  }
  .nav-header button.btn-close {
    opacity: 0;
    pointer-events: none;
  }
  .map-view .nav-header button.btn-close {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 599px) {
  .nav-header {
    padding: 1.25rem 0.625rem 1.75rem var(--sidebar-padding);
  }
  .nav-header h2 {
    margin-top: 0;
    font-size: 1.5rem;
  }
  .nav-header button {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }
  .nav-header-flex:last-child .title {
    display: none;
  }
  .nav-header-flex:last-child .controls a:first-child {
    padding-left: 0;
  }
}
