:root {
  --sidebar-padding: 1.25rem;
  --border: 1px solid #000;
}

body,
html {
  margin: 0;
  height: 100%;
  background: #111;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
}

#app {
  display: flex;
  height: 100%;
}

@import './map.css';
@import './nav.css';
@import './splash.css';

#details {
  width: 900px;
  border-left: var(--border);
  overflow-y: auto;
}

.blurb-container {
  padding: 0 var(--sidebar-padding);
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
  line-height: 1.35;
}

.hidden {
  display: none;
}

h3 {
  margin: 0 var(--sidebar-padding) 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.graph-container {
  display: flex;
}

.location-inner {
  background: #222;
  border-radius: 0 10px 10px 0;
  border: var(--border);
  border-left: 0;
  margin-bottom: 2rem;
}

.mode-container {
  min-width: 300px;
  overflow-x: hidden;
  flex: 1;
}

.mode-inner {
  width: 300px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1.5rem 0;
  border-radius: 5px 0 0 5px;
  height: 100%;
}

.mode-container h4 {
  color: #fff;
  margin: 0 1.25rem 1.25rem;
  font-size: 1rem;
}
