:root {
  --sidebar-padding: 1.25rem;
  --border: 1px solid #000;
}

body,
html {
  margin: 0;
  height: 100%;
  background: #111;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
}

#app {
  display: flex;
  height: 100%;
}

#branding {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url('./icon.png');
  background-repeat: no-repeat;
  background-position: 0.75rem 0.75rem;
  background-size: 2.5rem 2.5rem;
  margin: 0;
  line-height: 2.5rem;
  padding: 0.75rem;
  text-indent: 3rem;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
  font-size: 1.65rem;
  user-select: none;
  letter-spacing: -0.5px;
}

#map {
  flex: 1;
}

#map-content {
  width: 100%;
  height: 100%;
}

#details {
  width: 900px;
  border-left: var(--border);
  overflow-y: auto;
}

.nav-header {
  padding: 1.75rem var(--sidebar-padding) 1.5rem;
  background: #222;
  border-bottom: var(--border);
}

.nav-header h2 {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-header a {
  color: #ddd;
  text-decoration: none;
}
.nav-header a:hover {
  color: #fff;
  text-decoration: underline;
}

.nav-header p {
  font-size: 0.95rem;
  margin: 0;
}

nav {
  display: none;
}

h3 {
  margin: 0 var(--sidebar-padding) 0.75rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.graph-container {
  display: flex;
}

.location-inner {
  background: #222;
  border-radius: 0 10px 10px 0;
  border: var(--border);
  border-left: 0;
  margin-bottom: 2rem;
}

.mode-container {
  width: 300px;
  overflow-x: hidden;
}

.mode-inner {
  box-sizing: border-box;
  padding: 1.5rem 0;
  border-radius: 5px 0 0 5px;
  height: 100%;
}

.mode-container h4 {
  color: #fff;
  margin: 0 1.25rem 1.25rem;
  font-size: 1rem;
}
