:root {
  color-scheme: light dark;
  --surface-bg: #fafafa;
  --surface-bg-subtle: #f4f4f5;

  --surface-text: #09090b;
  --surface-text-interactive: #0074e4;
  --surface-text-success: #4caf50;
  --surface-text-danger: #ef4444;
  --surface-text-subtle: #52525b;
  --surface-gridlines: #ccc;

  --sidebar-padding: 1.25rem;
  --border: 1px solid rgba(0,0,0,0.1);
  --real-height: 100vh;

  /* we redeclare until we get better browser support for this function */
  --surface-bg: light-dark(#fafafa, #111);
  --surface-bg-subtle: light-dark(#f4f4f5, #222);
  --border: 1px solid light-dark(rgba(0,0,0,0.1), #000);

  --surface-gridlines: light-dark(#ccc, #444);

  --surface-text: light-dark(#09090b, #fff);
  --surface-text-interactive: light-dark(#0074e4, #7dd3fc);
  --surface-text-success: light-dark(#4caf50, #84cc16);
  --surface-text-subtle: light-dark(#52525b, #d4d4d4);
}

body,
html {
  margin: 0;
  height: 100%;
  background: var(--surface-bg);
  color: var(--surface-text);
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
}

body.dark {
  color-scheme: only dark;
}
body.light {
  color-scheme: only light;
}

/* needs to be moved to svelte native */
.map-view .btn-expand {
  transform: rotate(-180deg);
}

.map-view .nav-header button.btn-expand {
  transform: rotate(-180deg);
}

@media (max-width: 1020px) {
  .map-view .nav-header button.btn-close {
    opacity: 1;
    pointer-events: auto;
  }
}

button {
  font-family: inherit;
}

.blurb-container {
  padding: 0 var(--sidebar-padding);
  margin: 0 0 1.5rem;
  font-size: 1.125rem;
  line-height: 1.35;
}

.hidden {
  display: none;
}

h3 {
  margin: 0 var(--sidebar-padding) 0.5rem;
  font-weight: 600;
  font-size: 1.5rem;
}

noscript {
  margin: 2rem;
}

noscript p {
  padding: 0 var(--sidebar-padding);
  line-height: 1.35;
}

.graph-container {
  display: flex;
}

.map-legend.all .hide-all,
.map-legend .comparison-only,
.map-legend.departures .hide-departures,
.map-legend.arrivals .hide-arrivals {
  display: none;
}

.map-legend.comparison .main-legend {
  display: none;
}

.map-legend.comparison .comparison-only,
.map-legend.comparison .hide-departures.hide-all {
  display: block;
}


.map-legend.arrivals .map-legend-colors {
  background-image: linear-gradient(-90deg, #1d4ed8, #3b82f6, #93c5fd);
}

.map-legend.departures .map-legend-colors {
  background-image: linear-gradient(90deg, #f87171, #ef4444, #b91c1c);
}
.map-legend.arrivals li:nth-child(2),
.map-legend li:last-child {
  text-align: right;
}

@media (max-width: 1650px) {
  .graph-container {
    display: block;
  }
  .location-inner {
    border-radius: 0;
    border-right: 0;
    margin-bottom: 1rem;
  }
  .mode-inner {
    margin-bottom: 1rem;
  }
}

@media (max-width: 599px) {
  /* aligns the svg's to the center */
  .location-inner {
    margin-left: calc((100vw - 580px) / 2);
  }
}
